<footer class="footer-distributed">

    <div class="footer-left">
        <div class="row"><span class="hidden-xs">
            <p class="footer-links">
                <a href="http://discover.linccweb.org/primo_library/libweb/action/myAccountMenu.do?vid=FLCC1500"><b>Your
                    Account</b></a>
            </p>
            <p>
            <a href="http://www.libsurveys.com/loader.php?id=117">Feedback</a>
            </p>
            <p>
            <a href="http://www.linccweb.org/Linking.aspx">LINCCweb Links</a>
            </p>

            </span>
        </div>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Hours: <a href="http://libguides.scf.edu/c.php?g=102813&p=710449">Bradenton</a> | <a
                            href="http://libguides.scf.edu/c.php?g=102813&p=710461">Venice</a> | <a
                            href="http://libguides.scf.edu/c.php?g=102813&p=710462">Lakewood Ranch</a> </span>

        </div>



        <div>
            <i class="fa fa-phone"></i>
            <p><span>Lakewood Ranch : 941- 363-7250</span></p>
        </div>



    </div>

    <div class="footer-right">

        <p class="footer-company-about">

            <div class="row"><span class="hidden-xs">
                <span><h3>Our Mission :</h3></span></span></div>
        <p></p>
        <h4><font color="#78828D">Improve Customer Experience</font></h4>
        </p>
    </div>
    </span>




        <div>

        </div>


</footer>